nav {
	background-color: #fff;
	padding: 24px;
	position: fixed;
	width: 100%;
	z-index: 9;
}




nav .container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: auto; /* Центрування по горизонталі всередині батьківського*/
	max-width: 1200px;
}

.logo {
	display: flex;
	align-items: center;
	margin-right: 32px;
}

/*.navigation {
	align-items: flex-start;;
}*/

.navigation li {
	display: inline-block;
	/*position: relative;*/
	padding: 0 8px;

}

.navigation a {
	font-size: 16px;
	font-family: KyivTypeSans-Regular;
	letter-spacing: 0%;
	text-decoration: none;
	display: block;
	padding: 24px 12px;
	color: #161616;
	transition: all 300ms ease;
}

.navigation a:hover {
	color: #798DD0;	
}

@media screen and (max-width: 767px) {

	nav .container {
		justify-content: space-between;
	
	}

	.navigation  ul {
		display: none;
		background-color: #fff;
		min-height: 100vh;  /* Висота списку меню не менше 100% viewport height */
		min-width: 200px;
		width: 100%;
		padding-top: 100px;
		position: absolute;
		top:0; right:0;
		z-index: 98;
	}

	.navigation.open ul {
		display: block;
	}

	.navigation li {
		padding: 0;
		width: 100%;
		/*text-align: right;*/
	}

	.navigation a {
		text-align: center;
		display: block;
		background-color: transparent;
		border-radius: 0;
		color: #2F2F2F;
		padding: 12px 25px;
	}

	.navigation.open .overlay {
        background-color: #fff;
        display: block;
        position: absolute;
        left:0;
        top:0;
        width: 100%;
    	height: 100vh
        min-height: 100vh;
        z-index: 97;
    }

}